body {
  margin: 0px 0px 0px 0px; 
  position: relative;
}

section {
  padding: 56px 30px 30px 30px;
  background-color: #f8f9fa;
  margin-bottom: 50px;
}

h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 30px;
}

#home {
  padding: 0;
}

header .navbar {
  box-shadow: 0 1px rgba(0, 0, 0, 0.2)
}

header a{
  color: #000;
}

header .links {
  justify-content: flex-end;
}

.home {
  height: 400px;
  background-image: url('./img/card-coffee-cup-1449082.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home h1 {
  color: #000;
  font-weight: bold;
  font-size: 72px;
}

.home .container a {
  color: #000;
  font-size: 25px;
}

.aboutMe-container {
  display: flex;
  flex-wrap: wrap;
}

.aboutMe-text {
  max-width: 450px;;
}

.aboutMe-text a{
  display: block;
  color: #000;
  font-size: 25px;
  margin: 30px auto;
  text-align: center;
}

.aboutMe-image {
  max-width: 350px;
  margin: 0 auto;
}

.aboutMe-image img {
  height: 450px;
}


.experiences-article {
  display: flex
}

.footer {
  margin-bottom: -80px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  position: absolute;
  height: 70px;
  background-color: #212529;

  display: flex;
  justify-content: space-around;
}

.footer-copy {
  display: flex;
  align-items: center;
  color: #FFF;
}

.footer-sociais {
  display: flex;
  align-items: center;
  color: #FFF;
}